
{% extends 'base.html' %}
{% block header %}
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Processed Transactions</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Transactions</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
{% endblock header %}
{% block content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
       
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Transaction Count</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
        

            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>s/n</th>
                <th>Entry Date</th>
                <th>Transaction count</th>
                <th>Action</th>

              </tr>
              </thead>
              <tbody>
              {% for transaction in trans_list %}
              
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ transaction.entry_date }}</td> 
                <td> <span class="badge badge-success">{{ transaction.count }}</span></td>
                <!-- <td>{{ transaction.count }}</td>   -->
                <td><a class="btn btn-primary btn-sm" href="{% url 'dailyprocessedtransaction'  transaction.entry_date %}">
                  <i class="fas fa-folder">
                  </i>
                  View
              </a></td>
              </tr>
              {% endfor %}
              </tbody>
              {% comment %} <tfoot>
              <tr>
                <th>Rendering engine</th>
                <th>Browser</th>
                <th>Platform(s)</th>
                <th>Engine version</th>
                <th>CSS grade</th>
              </tr>
              </tfoot> {% endcomment %}
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>


{% endblock content %}